<html>
<head>Customer Input example</head>
<body>
<form action="/customer/add" method="POST">
    Name: <input name="name" type="text" />
    Address: <input name="address" type="text" />
    Email: <input name="email" type="text" />
    Phone: <input name="phone" type="text" />
    <button type="submit">Post Data</button>
</form>
</body>
</html>